@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

.aboutUsContainer {
    width: 1408px !important;
    margin-top: 140px !important;
    margin: auto;
}

.paraText {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
}

.aboutDescription {
    margin-top: 32px;
}

.learnMoreLink {
    color: #D11242;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    margin-top: 35px;
    cursor: pointer;
}

.aboutUsImage {
    width: 615px;
    height: 595px;
}

.aboutUsImageStyle {
    display: flex;
    justify-content: center;
}