@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

.mainContainer {
    padding: 1rem;
    color: #333;
}

.logo-container {
    text-align: right;
}

.logo-container img {
    height: 57px;
    width: 205px;
}

.logo {
    height: auto;
}

.navbar {
    align-self: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    display: inline-block;
    margin-left: 20px;
    padding-left: 40px;
}

.nav-list li:first-child {
    margin-left: 60px;
}

.nav-list li a {
    color: #333;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* contact button in navbar */
.button-container {
    justify-content: center; 
    display: flex;
    align-items: center; 
    height: 100%;
}

.button-container Button {
    text-align: right;
    color: white;
    background-color: #D11242;
    font-family: 'Cormorant Garamond', serif;
    font-size: 26px;
    font-weight: 700;
    transition: background-color 0.8s ease;
}
